fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4
firebase-admin>=6.5.0
groq>=0.9.0
python-dotenv>=1.0.1
cryptography>=42.0.8
web3>=6.19.0
pymupdf>=1.24.5
python-multipart>=0.0.9
cloudinary>=1.40.0
pdfplumber>=0.11.0
pdfminer.six>=20221105
